In [1]:
import pandas as pd

In [7]:
p1 = '/Users/mandeepsingh/dev/projects/py/Decat/raw_vocab/unigrams_by_frequency.csv'
p2 = '/Users/mandeepsingh/dev/projects/py/Decat/decat/data/vocabulary/words-by-frequency.txt'

In [105]:
d1 = pd.read_csv(p1)
# d2 = pd.read_csv(p2, header=None)

In [15]:
d1.head()

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

In [16]:
d2.head()

     0
0  the
1   of
2   in
3    a
4  and

In [18]:
d1.shape, d2.shape

((333333, 2), (125549, 1))

In [24]:
d1.shape[0] / d2.shape[0]

2.655003225832145

In [33]:
l1 = d1.word.values.tolist()
l2 = d1.word.unique().tolist()

In [34]:
len(l1), len(l2)

(333333, 333332)

In [35]:
set(l2).difference(l1)

set()

In [27]:
d1.word.values.tolist()

['the',
 'of',
 'and',
 'to',
 'a',
 'in',
 'for',
 'is',
 'on',
 'that',
 'by',
 'this',
 'with',
 'i',
 'you',
 'it',
 'not',
 'or',
 'be',
 'are',
 'from',
 'at',
 'as',
 'your',
 'all',
 'have',
 'new',
 'more',
 'an',
 'was',
 'we',
 'will',
 'home',
 'can',
 'us',
 'about',
 'if',
 'page',
 'my',
 'has',
 'search',
 'free',
 'but',
 'our',
 'one',
 'other',
 'do',
 'no',
 'information',
 'time',
 'they',
 'site',
 'he',
 'up',
 'may',
 'what',
 'which',
 'their',
 'news',
 'out',
 'use',
 'any',
 'there',
 'see',
 'only',
 'so',
 'his',
 'when',
 'contact',
 'here',
 'business',
 'who',
 'web',
 'also',
 'now',
 'help',
 'get',
 'pm',
 'view',
 'online',
 'c',
 'e',
 'first',
 'am',
 'been',
 'would',
 'how',
 'were',
 'me',
 's',
 'services',
 'some',
 'these',
 'click',
 'its',
 'like',
 'service',
 'x',
 'than',
 'find',
 'price',
 'date',
 'back',
 'top',
 'people',
 'had',
 'list',
 'name',
 'just',
 'over',
 'state',
 'year',
 'day',
 'into',
 'email',
 'two',
 'health',
 'n',
 'world',
 're',
 'next',
 'used',
 'go',
 'b',
 'work',
 'last',
 'most',
 'products',
 'music',
 'buy',
 'data',
 'make',
 'them',
 'should',
 'product',
 'system',
 'post',
 'her',
 'city',
 't',
 'add',
 'policy',
 'number',
 'such',
 'please',
 'available',
 'copyright',
 'support',
 'message',
 'after',
 'best',
 'software',
 'then',
 'jan',
 'good',
 'video',
 'well',
 'd',
 'where',
 'info',
 'rights',
 'public',
 'books',
 'high',
 'school',
 'through',
 'm',
 'each',
 'links',
 'she',
 'review',
 'years',
 'order',
 'very',
 'privacy',
 'book',
 'items',
 'company',
 'r',
 'read',
 'group',
 'sex',
 'need',
 'many',
 'user',
 'said',
 'de',
 'does',
 'set',
 'under',
 'general',
 'research',
 'university',
 'january',
 'mail',
 'full',
 'map',
 'reviews',
 'program',
 'life',
 'know',
 'games',
 'way',
 'days',
 'management',
 'p',
 'part',
 'could',
 'great',
 'united',
 'hotel',
 'real',
 'f',
 'item',
 'international',
 'center',
 'ebay',
 'must',
 'store',
 'travel',
 'comments',
 'made',
 'development',
 'report',
 'off',
 'member',
 'details',
 'line',
 'terms',
 'before',
 'hotels',
 'did',
 'send',
 'right',
 'type',
 'because',
 'local',
 'those',
 'using',
 'results',
 'office',
 'education',
 'national',
 'car',
 'design',
 'take',
 'posted',
 'internet',
 'address',
 'community',
 'within',
 'states',
 'area',
 'want',
 'phone',
 'dvd',
 'shipping',
 'reserved',
 'subject',
 'between',
 'forum',
 'family',
 'l',
 'long',
 'based',
 'w',
 'code',
 'show',
 'o',
 'even',
 'black',
 'check',
 'special',
 'prices',
 'website',
 'index',
 'being',
 'women',
 'much',
 'sign',
 'file',
 'link',
 'open',
 'today',
 'technology',
 'south',
 'case',
 'project',
 'same',
 'pages',
 'uk',
 'version',
 'section',
 'own',
 'found',
 'sports',
 'house',
 'related',
 'security',
 'both',
 'g',
 'county',
 'american',
 'photo',
 'game',
 'members',
 'power',
 'while',
 'care',
 'network',
 'down',
 'computer',
 'systems',
 'three',
 'total',
 'place',
 'end',
 'following',
 'download',
 'h',
 'him',
 'without',
 'per',
 'access',
 'think',
 'north',
 'resources',
 'current',
 'posts',
 'big',
 'media',
 'law',
 'control',
 'water',
 'history',
 'pictures',
 'size',
 'art',
 'personal',
 'since',
 'including',
 'guide',
 'shop',
 'directory',
 'board',
 'location',
 'change',
 'white',
 'text',
 'small',
 'rating',
 'rate',
 'government',
 'children',
 'during',
 'usa',
 'return',
 'students',
 'v',
 'shopping',
 'account',
 'times',
 'sites',
 'level',
 'digital',
 'profile',
 'previous',
 'form',
 'events',
 'love',
 'old',
 'john',
 'main',
 'call',
 'hours',
 'image',
 'department',
 'title',
 'description',
 'non',
 'k',
 'y',
 'insurance',
 'another',
 'why',
 'shall',
 'property',
 'class',
 'cd',
 'still',
 'money',
 'quality',
 'every',
 'listing',
 'content',
 'country',
 'private',
 'little',
 'visit',
 'save',
 'tools',
 'low',
 'reply',
 'customer',
 'december',
 'compare',
 'movies',
 'include',
 'college',
 'value',
 'article',
 'york',
 'man',
 'card',
 'jobs',
 'provide',
 'j',
 'food',
 'source',
 'author',
 'different',
 'press',
 'u',
 'learn',
 'sale',
 'around',
 'print',
 'course',
 'job',
 'canada',
 'process',
 'teen',
 'room',
 'stock',
 'training',
 'too',
 'credit',
 'point',
 'join',
 'science',
 'men',
 'categories',
 'advanced',
 'west',
 'sales',
 'look',
 'english',
 'left',
 'team',
 'estate',
 'box',
 'conditions',
 'select',
 'windows',
 'photos',
 'gay',
 'thread',
 'week',
 'category',
 'note',
 'live',
 'large',
 'gallery',
 'table',
 'register',
 'however',
 'june',
 'october',
 'november',
 'market',
 'library',
 'really',
 'action',
 'start',
 'series',
 'model',
 'features',
 'air',
 'industry',
 'plan',
 'human',
 'provided',
 'tv',
 'yes',
 'required',
 'second',
 'hot',
 'accessories',
 'cost',
 'movie',
 'forums',
 'march',
 'la',
 'september',
 'better',
 'say',
 'questions',
 'july',
 'yahoo',
 'going',
 'medical',
 'test',
 'friend',
 'come',
 'dec',
 'server',
 'pc',
 'study',
 'application',
 'cart',
 'staff',
 'articles',
 'san',
 'feedback',
 'again',
 'play',
 'looking',
 'issues',
 'april',
 'never',
 'users',
 'complete',
 'street',
 'topic',
 'comment',
 'financial',
 'things',
 'working',
 'against',
 'standard',
 'tax',
 'person',
 'below',
 'mobile',
 'less',
 'got',
 'blog',
 'party',
 'payment',
 'equipment',
 'login',
 'student',
 'let',
 'programs',
 'offers',
 'legal',
 'above',
 'recent',
 'park',
 'stores',
 'side',
 'act',
 'problem',
 'red',
 'give',
 'memory',
 'performance',
 'social',
 'q',
 'august',
 'quote',
 'language',
 'story',
 'sell',
 'options',
 'experience',
 'rates',
 'create',
 'key',
 'body',
 'young',
 'america',
 'important',
 'field',
 'few',
 'east',
 'paper',
 'single',
 'ii',
 'age',
 'activities',
 'club',
 'example',
 'girls',
 'additional',
 'password',
 'z',
 'latest',
 'something',
 'road',
 'gift',
 'question',
 'changes',
 'night',
 'ca',
 'hard',
 'texas',
 'oct',
 'pay',
 'four',
 'poker',
 'status',
 'browse',
 'issue',
 'range',
 'building',
 'seller',
 'court',
 'february',
 'always',
 'result',
 'audio',
 'light',
 'write',
 'war',
 'nov',
 'offer',
 'blue',
 'groups',
 'al',
 'easy',
 'given',
 'files',
 'event',
 'release',
 'analysis',
 'request',
 'fax',
 'china',
 'making',
 'picture',
 'needs',
 'possible',
 'might',
 'professional',
 'yet',
 'month',
 'major',
 'star',
 'areas',
 'future',
 'space',
 'committee',
 'hand',
 'sun',
 'cards',
 'problems',
 'london',
 'washington',
 'meeting',
 'rss',
 'become',
 'interest',
 'id',
 'child',
 'keep',
 'enter',
 'california',
 'porn',
 'share',
 'similar',
 'garden',
 'schools',
 'million',
 'added',
 'reference',
 'companies',
 'listed',
 'baby',
 'learning',
 'energy',
 'run',
 'delivery',
 'net',
 'popular',
 'term',
 'film',
 'stories',
 'put',
 'computers',
 'journal',
 'reports',
 'co',
 'try',
 'welcome',
 'central',
 'images',
 'president',
 'notice',
 'god',
 'original',
 'head',
 'radio',
 'until',
 'cell',
 'color',
 'self',
 'council',
 'away',
 'includes',
 'track',
 'australia',
 'discussion',
 'archive',
 'once',
 'others',
 'entertainment',
 'agreement',
 'format',
 'least',
 'society',
 'months',
 'log',
 'safety',
 'friends',
 'sure',
 'faq',
 'trade',
 'edition',
 'cars',
 'messages',
 'marketing',
 'tell',
 'further',
 'updated',
 'association',
 'able',
 'having',
 'provides',
 'david',
 'fun',
 'already',
 'green',
 'studies',
 'close',
 'common',
 'drive',
 'specific',
 'several',
 'gold',
 'feb',
 'living',
 'sep',
 'collection',
 'called',
 'short',
 'arts',
 'lot',
 'ask',
 'display',
 'limited',
 'powered',
 'solutions',
 'means',
 'director',
 'daily',
 'beach',
 'past',
 'natural',
 'whether',
 'due',
 'et',
 'electronics',
 'five',
 'upon',
 'period',
 'planning',
 'database',
 'says',
 'official',
 'weather',
 'mar',
 'land',
 'average',
 'done',
 'technical',
 'window',
 'france',
 'pro',
 'region',
 'island',
 'record',
 'direct',
 'microsoft',
 'conference',
 'environment',
 'records',
 'st',
 'district',
 'calendar',
 'costs',
 'style',
 'url',
 'front',
 'statement',
 'update',
 'parts',
 'aug',
 'ever',
 'downloads',
 'early',
 'miles',
 'sound',
 'resource',
 'present',
 'applications',
 'either',
 'ago',
 'document',
 'word',
 'works',
 'material',
 'bill',
 'apr',
 'written',
 'talk',
 'federal',
 'hosting',
 'rules',
 'final',
 'adult',
 'tickets',
 'thing',
 'centre',
 'requirements',
 'via',
 'cheap',
 'nude',
 'kids',
 'finance',
 'true',
 'minutes',
 'else',
 'mark',
 'third',
 'rock',
 'gifts',
 'europe',
 'reading',
 'topics',
 'bad',
 'individual',
 'tips',
 'plus',
 'auto',
 'cover',
 'usually',
 'edit',
 'together',
 'videos',
 'percent',
 'fast',
 'function',
 'fact',
 'unit',
 'getting',
 'global',
 'tech',
 'meet',
 'far',
 'economic',
 'en',
 'player',
 'projects',
 'lyrics',
 'often',
 'subscribe',
 'submit',
 'germany',
 'amount',
 'watch',
 'included',
 'feel',
 'though',
 'bank',
 'risk',
 'thanks',
 'everything',
 'deals',
 'various',
 'words',
 'linux',
 'jul',
 'production',
 'commercial',
 'james',
 'weight',
 'town',
 'heart',
 'advertising',
 'received',
 'choose',
 'treatment',
 'newsletter',
 'archives',
 'points',
 'knowledge',
 'magazine',
 'error',
 'camera',
 'jun',
 'girl',
 'currently',
 'construction',
 'toys',
 'registered',
 'clear',
 'golf',
 'receive',
 'domain',
 'methods',
 'chapter',
 'makes',
 'protection',
 'policies',
 'loan',
 'wide',
 'beauty',
 'manager',
 'india',
 'position',
 'taken',
 'sort',
 'listings',
 'models',
 'michael',
 'known',
 'half',
 'cases',
 'step',
 'engineering',
 'florida',
 'simple',
 'quick',
 'none',
 'wireless',
 'license',
 'paul',
 'friday',
 'lake',
 'whole',
 'annual',
 'published',
 'later',
 'basic',
 'sony',
 'shows',
 'corporate',
 'google',
 'church',
 'method',
 'purchase',
 'customers',
 'active',
 'response',
 'practice',
 'hardware',
 'figure',
 'materials',
 'fire',
 'holiday',
 'chat',
 'enough',
 'designed',
 'along',
 'among',
 'death',
 'writing',
 'speed',
 'html',
 'countries',
 'loss',
 'face',
 'brand',
 'discount',
 'higher',
 'effects',
 'created',
 'remember',
 'standards',
 'oil',
 'bit',
 'yellow',
 'political',
 'increase',
 'advertise',
 'kingdom',
 'base',
 'near',
 'environmental',
 'thought',
 'stuff',
 'french',
 'storage',
 'oh',
 'japan',
 'doing',
 'loans',
 'shoes',
 'entry',
 ...]

In [36]:
d1[:100]

       word        count
0       the  23135851162
1        of  13151942776
2       and  12997637966
3        to  12136980858
4         a   9081174698
..      ...          ...
95     like    520585287
96  service    519537222
97        x    508609523
98     than    502609275
99     find    502043038

[100 rows x 2 columns]

In [37]:
d2[:100]

            0
0         the
1          of
2          in
3           a
4         and
..        ...
95       over
96  different
97        out
98        use
99     france

[100 rows x 1 columns]

In [39]:
d1[d1.word == 'iam']

      word    count
25755  iam  1037240

In [52]:
d2[~d2[0].isin(d1.word)][:50]

                   0
894        partement
1106          ifexpr
3999       sanfrecce
4117     pakhtunkhwa
4229            aang
4780          avispa
4823          vissel
4864       wikitable
4893       noinclude
4911        bellmare
5088       consadole
5089            xona
5205            tosu
5266       rttemberg
5410         vegalta
5476          reysol
5554         albirex
5941          ffffff
5950        frontale
6342       checkuser
6357       ventforet
6360            dolj
6458          beyonc
6507          ardija
6618         leonese
6629        barnstar
6687        montedio
7002          vortis
7489         yotcmdr
7771            gwib
7989            enwp
8190          thespa
8325            prva
8384    nationalliga
8492         tehsils
8622         balukas
8818          katara
8870            ozai
8883       mainspace
8906         chakwal
9434            hler
9460   nchengladbach
9536          rnberg
9675       pichilemu
9827           nchez
10002        balompi
10013          sokka
10227         tienne
10361          yucat
10535        boutsen

In [50]:
d1.iloc[1100:1110]

           word     count
1100        usr  73064522
1101  executive  73010727
1102    running  72879426
1103      lower  72606927
1104  necessary  72604405
1105      union  72603888
1106    jewelry  72576719
1107  according  72553085
1108         dc  72528782
1109   clothing  72455943

In [54]:
d1[d1.word == 'iam']

      word    count
25755  iam  1037240

In [55]:
d2[d2[0] == 'iam']

         0
49229  iam

In [73]:
import sys

In [72]:
a = ','.join(map(str, d1.word.tolist()))

In [80]:
sys.getsizeof(a) / 1024 / 1024

2.6926889419555664

In [81]:
import json

In [111]:
with open('vocabulary.json', 'w') as f:
    f.write(json.dumps(d1['word'].tolist(), indent=1))

In [87]:
d1.to_csv('temp3.csv', index=False)

In [93]:
d1

           word        count
0           the  23135851162
1            of  13151942776
2           and  12997637966
3            to  12136980858
4             a   9081174698
...         ...          ...
333328    gooek        12711
333329   gooddg        12711
333330  gooblle        12711
333331   gollgo        12711
333332    golgw        12711

[333333 rows x 2 columns]

In [100]:
v = d1.word.tolist()
for i in range(len(v)):
    v1 = v[i]
    t = type(v1)
    if t != str:
        print(f'S: {v1} | T: {t} | I: {i}')

S: nan | T: <class 'float'> | I: 2577
S: nan | T: <class 'float'> | I: 12819

In [108]:
d1.shape

(333333, 2)

In [109]:
d1.dropna(inplace=True)

In [110]:
d1.shape

(333331, 2)

In [112]:
import re

In [113]:
s = ' jus:_t a te--ststri+^#ng 123 @)(&)(&) ando{}:>?ne mor\09e_of this @# is here '

In [114]:
re.sub('\W+','', s)

'jus_tateststring123andonemor9e_ofthisishere'

In [117]:
''.join(e for e in s if e.isalpha())

'justateststringandonemoreofthisishere'